<!DOCTYPE html>
<html lang="{{ I18n.getLang()|default('en') }}">
    <head>
        {{ Html.charset()|raw }}
        <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=5.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="msapplication-tap-highlight" content="no"/>
        <meta name="theme-color" content="#ffffff" />
        <meta name="developer" content="ChiaLab | communication design | www.chialab.it" />
        <title>{{ Metadata.getTitle()|striptags|raw }}</title>
        <meta name="description" content="{{ Metadata.getDescription()|striptags|raw }}" />

        {{ Html.meta('icon', "#{_view.plugin}.favicon.png", { type:'image/png' } )|raw }}

        {{ Rna.devServer(_view.plugin)|raw }}
        {{ Rna.css("#{_view.plugin}.index", { block: true })|raw }}
        {{ Rna.script("#{_view.plugin}.index", { block: true })|raw }}

        {{ _view.fetch('meta')|raw }}
        {{ Metadata.metaDc()|raw }}
        {{ Metadata.metaOg()|raw }}
        {{ Metadata.metaTwitter()|raw }}

        {{ _view.fetch('css')|raw }}
    </head>
    <body>
        {{ Flash.render()|raw }}
        {{ _view.fetch('content')|raw }}
        {{ _view.element('staging-bar')|raw }}
        {{ _view.fetch('script')|raw }}
        {{ _view.element('tracking-cookies')|raw }}
    </body>
</html>
